.container__collections {
  width: 90%;
  height: 90vh;
  margin: 1.5rem auto;
  background-color: white;
}


hr {
  width: 90%;
  margin: 0 auto;
}

main {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section img */
.section__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.img__principal {
  width: 70%;
  height: 70%;
}

.img__principal img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.img__pequeñas {
  width: 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.img__pequeñas img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.section__img .icon__slider {
  display: none;
}


/* Section Texto */
.section__texto {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: -3rem;
  h2 {
    font-size: 1rem;
    color: orange;
  }
  h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
}

.section__texto--description {
  width: 90%;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: grey;
}

.section__texto--price {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  h3 {
    font-size: 1.3rem;
  }
  span {
    font-size: 1rem;
    color: rgb(239, 152, 4);
    background-color: rgb(228, 225, 224);
    margin-left: 0.5rem;
  }
  h4 {
    color: grey;
    text-decoration: line-through;
  }
}

.section__texto--addCard {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.section__texto--addCard .btn__cantidad {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 1.5rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  p {
    font-weight: bold;
  }
}

.section__texto--addCard .btn__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 0 15px;
  gap: 1rem;
  border-radius: 5px;
  border: none;
  background-color: orange;
  color: white;
}

/* Section Modal */
.container__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

.container__modal.open {
  display: flex;
}

.container__modal--imgGrande {
  position: absolute;
  width: 60%;
  height: 60vh;
  margin-top: 2rem;
  z-index: 998;
}

.container__modal--imgGrande .imgGrande {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.container__modal--imgPequeña {
  margin-top: 25rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.container__modal--imgPequeña img{
  width: 120px;
  border-radius: 5px;
}



.icon__next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  right: 0.5rem;
  top: 10rem;
  background-color: white;
}
.icon__previus {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  left: 0.5rem;
  top: 10rem;
  background-color: white;
}


@media screen and (max-width: 760px) {
  /* Section Img */
  .container__collections {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin: 0;
  }
  hr {
    width: 90%;
  }
  main {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .section__img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  .img__principal {
    width: 100%;
    height: 30vh;
  }
  .img__principal img {
    border-radius: 0;
    overflow: hidden;
  }

  .section__img .icon__slider {
    display: flex;
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 50%;
    background-color: white;
  }

  .section__img .icon__next {
    position: absolute;
    right: 0rem;
    top: 40%;
    margin-right: 1rem;
  }

  .section__img .icon__previous {
    position: absolute;
    top: 40%;
    left: 1rem;
  }

  .img__pequeñas {
    display: none;
  }
  /* Section Texto */
  .section__texto {
    width: 100%;
    margin-top: 2rem;
    padding-left: 1rem;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .section__texto--price {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  }
  .section__texto--addCard {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section__texto--addCard .btn__cantidad {
    margin: 0 auto;
    width: 90%;
    align-items: center;
    justify-content: space-around;
  }

  .section__texto--addCard .btn__cart {
    width: 90%;
    padding: 10px ;
  }
}